<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello, we have received a password reset request for account: {{name}},</p>
      
        <p>If you requested this please, click the link below to reset your password, if not you can ignore this email</p>
        <a href="http://{{link}}">Reset Password</a>
    </body>
</html>